body{
	margin: 0px;
	overflow-x: hidden;
}

.head{
	margin-top: 40px;
	height: 180px;
	/*box-shadow: 0px 0px 20px rgb(1,1,1,0.08);*/
	width: calc(100vw - 80px);
	z-index: 10;
	position: fixed;
	margin-left: 40px;
	border-radius: 50px;

}

#headBack{
	transition: 0.5s;
	top: 40px;
	position: fixed;
    width: calc(100vw - 80px);
    height: 180px;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-left: 40px;
	border-radius: 50px;
    backdrop-filter: blur(30px);
    background-color: rgba(255,255,255,0.85);
    -webkit-backdrop-filter: blur(30px);
}

#bigMenu{
	opacity: 0;
	transition: .4s;
	visibility: hidden;
	position: fixed;
	z-index: 10;
	top: 220px;
	height: calc(100vh - 70px);
	width: 100vw;
	overflow-y: scroll;
}


.bigMenuButton p{
	margin-left: 50px;
	margin-top: 58px;
  font-family: 'Alexandria', sans-serif;
  font-size: 52px;
  float: left;
}
.bigMenuButton img{
	margin-left: 50px;
	margin-top: 56px;
	height: 70px;
  	float: left;
}
.bigMenuButton{
	width: calc(100vw - 80px);
    height: 180px;
	margin-top: 40px;
	margin-left: 40px;
	background-color: rgba(0,0,0,0.09);
	border-radius: 50px;
	padding-top: 1px;
}

#menuButton{
	height: 76px;
	width: 76px;
	margin-top: 52px;
	margin-right: 52px;
	float: right;
}

.content{
	background-color: #eeeeee;
	padding-bottom: 40px;
	float: left;
	min-height: 100vh;
}

.logo{
	height: 66px;
	margin-top: 57px;
	margin-left: 60px;
}

.mainBanner{
	margin-top: 260px;
	width: 100vw;
	height: calc(100vw / 1.4);
}

.progress{
	width: calc(100vw - 120px);
	margin-left: 40px;
	margin-top: 40px;
	border-radius: 50px;
	background-color: white;
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.fullProgress{
	width: calc(100vw - 120px);
	margin-left: 40px;
	margin-top: 260px;
	border-radius: 50px;
	background-color: white;
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.progress p{
	font-size: 54px;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'Alexandria', sans-serif;
}
.fullProgress p{
	font-size: 54px;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'Alexandria', sans-serif;
	text-align: center;
	margin-left: -40px;
}

.fullHeart{
	height: 400px;
	width: 400px;
	background-image: url(fullHeart.png);
	background-size: cover;
	margin-left: calc(50% - 220px);
}

.progressbar{
	height: 70px;
	width: calc((100% - 40px) / 2);
	background-color: #EE4139;
	border-radius: 25px 0px 0px 25px;
	margin-top: -70px;
}

.smallInfo{
	font-size: 40px !important;
	margin-top: -20px !important;
	margin-bottom: 30px !important;
	opacity: 0.6;
}

.progressBack{
	height: 70px;
	width: calc(100% - 40px);
	background-color: #E98985;
	border-radius: 25px;
}

.tasks{
	width: calc(100vw - 40px);
	background-color: white;
	padding-top: 40px;
	padding-left: 40px;
	float: left;
}

#date{
	font-size: 38px;
	margin-top: 40px;
	margin-bottom: 20px;
	opacity: 0.8;
	font-family: 'Alexandria', sans-serif;
}

.doneDate{
	font-size: 38px;
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
	opacity: 0.8;
	font-family: 'Alexandria', sans-serif;
	float: left;
}

.moreLine{
	height: 20px;
	float: left;
	margin-left: calc(50% - 160px);
	margin-bottom: 40px;
}

.tasks h1{
	font-size: 54px;
	margin-top: 0px;
	margin-bottom: 40px;
	font-family: 'Alexandria', sans-serif;

}

.task{
	background-color: #eeeeee;
	border-radius: 50px;
	width: calc(100% - 120px);
	margin-bottom: 40px;
	padding-top: 60px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 60px;
	float: left;
}

.task p{
	font-size: 46px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Alexandria', sans-serif;
	float: left;
	width: calc(100% - 110px);
	margin-left: 40px;
	min-height: 70px;
}

.rate{
	width: calc(100vw - 120px);
	margin-left: 40px;
	margin-top: 40px;
	border-radius: 50px;
	background-color: white;
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	float: left;
}
.commentRate{
	width: calc(100vw - 120px);
	margin-left: 40px;
	margin-top: 260px;
	border-radius: 50px;
	background-color: white;
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	float: left;
}

.fullRate{
	width: calc(100vw - 40px);
	background-color: white;
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	float: left;
}

.fullRate p{
	font-size: 54px;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'Alexandria', sans-serif;
}

.rate p, .commentRate p{
	font-size: 54px;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'Alexandria', sans-serif;
}

.rating{
	width: 660px;
	margin-top: 20px;
	float: left;
	height: 80px;
}

.commenting{
	height: 150px;
	border-radius: 46px;
	background-color: #eeeeee;
	width: calc(100% - 40px);
}

.commenting input{
	height: 100%;
	width: 100%;
	background: none;
	border:  none;
	outline: none;
	font-size: 42px;
	padding-left: 40px;
}


#myRate{
	font-size: 54px;
	margin-top: 26px !important;
	font-family: 'Alexandria', sans-serif;
	float: left;
}

#successMessage{
	opacity: 0;
	transition: 0.5s;
	font-size: 36px;
	float: left;
	margin-left: 30px;
	margin-top: 86px !important;
}
#successMessageC{
	opacity: 0;
	transition: 0.5s;
	font-size: 36px;
	float: left;
	margin-left: 30px;
	margin-top: 86px !important;
}

.heart{
	transition: 0.2s;
	float: left;
	height: 80px;
	margin-right: 40px;
}

#confirmButton{
	height: 120px;
	width: 300px;
	border-radius: 36px;
	font-size: 54px;
	margin-top: 50px;
	float: left;
	background-color: #EE4139;
}

#confirmButton p{
	font-family: 'Alexandria', sans-serif;
	color: white;
	font-size: 46px;
	margin-top: 32px;
	text-align: center;
}

#confirmButtonC{
	height: 120px;
	width: 300px;
	border-radius: 36px;
	font-size: 54px;
	margin-top: 50px;
	float: left;
	background-color: #EE4139;
}

#confirmButtonC p{
	font-family: 'Alexandria', sans-serif;
	color: white;
	font-size: 46px;
	margin-top: 32px;
	text-align: center;
}

#percentage{
	font-size: 80px !important;
	margin-bottom: 0px !important;
}

a{
	color: black;
	text-decoration: none;
}

.heart:active {
    animation: star 0.2s ease-in-out;
}

@keyframes star {
from {transform: scale(1);}
50% {transform: scale(1.4);}
to {transform: scale(1);}
}

